<div class="header-container">
    <h1>Treasures</h1> <button id="menuButton" aria-label="Menu">☰</button>
    <nav id="mainNav">
        <a href="index.html">Home</a>
        <a href="regions.html">Regions</a>
        <a href="artisans.html">Artisans</a>
    </nav>
    <div id="api-data-bar">
        <div id="peru-info">
            <img id="peru-flag" src="" alt="Peru Flag" style="width: 25px; vertical-align: middle; margin-right: 5px;">
            <span>Peru Data Loading...</span>
        </div>
        <div id="welcome-visitor">Detecting your location...</div>
    </div>
</div>